<!DOCTYPE html>
<html lang="en">
	<head>
		<title>insta485</title>		
	</head>
	<body>
		<p>
            <a href="/">{{"click this"}}</a>
                <a href="/explore/">{{"explore"}}</a>
                <a href="/users/{{logname}}/">{{logname}}</a>
        </p>
        <p>
            {{logname}}
        </p>
    <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
        <p>{{"Old password"}}<input type="password" name="password" required/></p>
        <p>{{"New password"}}<input type="password" name="new_password1" required/></p>
        <p>{{"New password, again"}}<input type="password" name="new_password2" required/></p>
        <p><input type="submit" name="update_password" value="submit"/></p>
        <input type="hidden" name="operation" value="update_password"/>
    </form>
    <a href="/accounts/edit/">{{"Back to edit account"}}</a>
	</body>	
</html>
